/node_modules
/storage/*.key
storage
application/vendor/
application/storage/
application/.env
php.ini
error_log
.htaccess
.user.ini
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/pail
/vendor
.env.backup
.env.production
.phpactor.json
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
